<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lucias Hotel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestdrivenHotel.UI.styles.css" asp-append-version="true" />
</head>
<body class="backImg">
    <header id="header">
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom navbar-light bg-light">
            <div class="container">
                <div>
                    <a class="navbar-brand" asp-area="" asp-page="/Index"> 
                        <img src="https://olssonweb.se/wp/wp-content/uploads/lussebulle.png" id="logo"/>
                        LUCIASHOTEL
                    </a>
                </div>
              
                <div class ="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Explore">Explore</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact</a>
                        </li>
                        
                        <li> <i class="fa fa-search"></i> </li>

                        <li> <button class="primary-btn"><a asp-page="/Booking">BOOK NOW </a></button>  </li>
                        
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-light text-muted opacity-75">
        <div class="container">
            &copy; 2024 - TestdrivenHotel - <a asp-area="" asp-page="/About">About</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>