@page
@model TestdrivenHotel.UI.Pages.AboutModel
@{
    ViewData["Title"] = "About page";
}
<div class="container-fluid bg-light opacity-75 align-content-center">
    <div class="text-center text-body">
        <h1 class="display-4">Welcome to Lucias Hotel</h1>
        <div class="flex-md-column">
            <h5>
                Lucias Mansion is an idyllic manor in beautiful nature with its own beach, delicious cuisine and personal service just outside Gullholma in Blekinge.
                Here, guests can get active with walks around Härgården, spa treatments of various kinds, a relaxing relaxation area or a visit to the hotel's gym.
            </h5>
        </div>
        <h4>Our History.</h4>
        <div class="d-sm-flex">
            <p>
                The history of Lucia's Mansion can be traced all the way back to the Middle Ages. Lucia was then a crown estate, a manor that belonged to the state. In 1569, Johan III gave it to the magnate Brynte Birgersson Lillie, and it remained in his family until 1690, when, as a result of Charles XI's reduction, it again became the crown's.

                During the 18th century and the first decades of the 19th century, Lucia's owners were many. In 1831, the merchant councilor Olof Wijk in Blekinge bought the manor, and the following year he sold it to his brother-in-law, the Scottish wholesaler William Gibson, and his companion and countryman, Alexander Keiller.

                After another year or so, a short distance from there, they founded what would eventually develop into one of West Sweden's most manufacturing industries, the textile and workshop company Jonsereds Fabriker. The mansion itself became the official residence of the manager there, first Keiller, then Gibson. In 1839 they went their separate ways.

                Keiller was bailed out of the firm and left the mansion. Both the company and the manor were therefore the Gibsons. And so they would remain - the manor for more than a hundred years.

                Has been inherited
                William Gibson resided in it as long as he lived – until 1857 – and his wife Anna for another four years. It was then passed down to their children and grandchildren. One of the sons, David, when he took over the estate, had the old main building demolished and a brand new one built - a grand country villa in Italian style, designed by the Gothenburg architect Johan August Westerberg. 
                
                That's what people mean today when they talk about Jonsered's manor.

                The last of Anna and William Gibson's descendants at Lucias Mansion was their grandson's son, who bore the same first name as his great-grandfather, Commander Captain and Textile Director William Gibson. He moved into the mansion in 1927 and lived there until his death in 1954.
            </p>

        </div>

    </div>
    
<div/>
