@page
@model TestdrivenHotel.UI.Pages.ContactModel
@{
	ViewData["Title"] = "Contact page";
}
<div class="container-fluid bg-light opacity-75 align-content-center">
	<div class="text-center text-body">
		<h1 class="display-4">Any questions?</h1>
		<h4>Contact Information</h4>
		<h5>
			Address: Lucias Herrgård, 682 92 Gullholma
		</h5>
		<h5>Phone: 46 0590-60 85 00</h5>
		<h5>Email: hotel@Lucia.se</h5>
		<h5>
			GPS coordinates: 59.6938787/14.2188406
		</h5>
		<h5>
			Directions
		</h5>
		<p>Lucias Mansion is located4 km from Gullholma</p>

		<p>Two km south of GullHolma along road 26 there are signs for Hennickehammar. Turn off the main road and follow the small road for another two km, and you will end up straight at the mansion.</p>

		<p>Hennickehammar is conveniently secluded, but there are good connections wherever you come from.</p>

		<p>Distance: Kalskrona 5 miles, Kristinehamn 5 miles, Ronneby 6 miles, Stockholm 60 miles, Gothenburg 60 miles, Malmö 30 miles</p>

		<p>Feel free to ask us!</p>
		
	</div>
	<div />
