@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Hotel Booking System</h1>
    <h4>Please enter your desired check-in and check-out dates, as well as the number of guests.</h4>
</div>

<form class="form" method="post">
    
    <div class="container-lg bg-body opacity-75">
        <h5 class="p-1">Explore our avaliable room</h5>
        <div class="d-lg-flex justify-content-center">
            <div class="p-lg-1">
                <label for="checkInDate">Check-in Date:</label>
            <input type="date" asp-for="CheckInDate" name="checkInDate" id="checkInDate" required>
            </div>
            <div class="p-lg-1">
                <label for="checkOutDate">Check-out Date:</label>
            <input type="date" asp-for="CheckOutDate" name="checkOutDate" id="checkOutDate" required>
            </div>
            <div class="p-1">
                <label for="numberOfGuests">Number of Guests:</label>
            <select name="numberOfGuests" id="numberOfGuests" asp-for="NumberOfGuests">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
             </div>
            <div class="p-1" >
                <label for="roomType">Room Type:</label>
                <select asp-for="RoomType" id="roomType" name="roomType">
                    <option value="">All</option>
                    <option value="Single Room">Single Room</option>
                    <option value="Double Room">Double Room</option>
                    <option value="Luxury Room">Luxury Room</option>
                </select>
            </div>
            <div class="p-1">
                <button type="submit">Search</button>
            </div>
        </div>
        
    </div>
</form>


        
        